.fa-star, .fa-star-half-alt{
    color: #b1b1b1;
    font-size: 20px;
  }
  .fa-star, .fa-star-half-alt {
    color: #F5A623;
  }

  .review-lable{
    padding: 10px 0px;
    font-size: 16px !important;
  }

  .number-avg-star{
    font-weight: 700;
    padding: 10px 0px;
    color: #84c52c;
  }
  .star-none{
    color: #b1b1b1 !important;
  }
  .parameter-review{
    font-size: 16px;
    padding-left: 4px;
    font-weight: 600;
  }
  .title-review ul li a {
    padding: 15px 20px;
    font-size: 18px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: auto;
    position: relative;
    background: #f7544a;
    color: #fff;
    border: 1px solid #f7544a;
  }

  .title-review ul li a:hover{
    cursor: default;
  }
  .tab-content{
    margin: 25px 0px;
  }

  .tab-content{
    display: block !important;
  }

  .review__comment-header{
    background: #f4f0e2;
    border-radius: 4px;
    padding: 5px 0px;
    overflow: hidden;
  }
  .review__comment-header--title{
    font-size: 16px;
    color: #7e592a;
    font-weight: 500; 
  }
  .review__comment-author{
    color: #84c52c;
    font-weight: 600;
    font-size: 16px;
  }

  .review__comment-time{
    font-size: 14px;
    color: #cebda2;
    padding-top: 10px; 
  }

  .review__comment-content{
    padding-top: 10px;
  }

  .review__comment-content p{
    font-size: 14px !important;
  }

  .review__comment-rating i{
    font-size: 14px;
  }

  .review_comment-line{
    border-bottom: 1px dashed #cebda2;
    padding-bottom: 10px;
    border-width: 2px;
    margin-bottom: 15px;
  }

  .review-comment-null{
    font-size: 16px;
    font-weight: 600;
    color: #cebda2;
  }
  .review-summary {
    text-align: center;
    margin-bottom: 20px;
}
.review-summary .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.review-summary .rating i {
    color: #f5a623;
    margin-right: 5px;
}
.review-summary .rating span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.review-summary .rating-count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}
.review-list {
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}
.review-item {
    margin-bottom: 20px;
}
.review-item .reviewer {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
}
.review-item .rating{
    font-size: 15px;
    margin-top: 8px;
}
.review-item .rating i {
    color: #f5a623;
}
.review-item .date {
    color: #9e9e9e;
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 5px;
}
.review-item .content {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.write-review {
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: end;
}
.write-review button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0px;
}
.review_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    padding: 20px;
}
.checkbox-container input {
    margin-right: 10px;
}
.checkbox-container label {
    font-size: 16px;
}
.review-title {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.stars {
    text-align: center;
    margin: 10px 0;
}
.stars i {
    font-size: 30px;
    color: #ffcc00;
    margin: 0 5px;
}
.instruction {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}
.review-content {
    margin-bottom: 20px;
    width: 500px; 
}
.review-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.review-content textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}
.submit-button {
    width: 500px;
    background-color: #808080;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.submit-button:hover{
    color: #fff;
    background-color: #000;
    border: none;
}